{% extends "base.html" %}
{% load humanize i18n %}
{% load establishmentdetailstags %}

{% block body_class %}establishment-detail{% endblock %}
{% block body_id %}establishment-{{ establishment.pk }}{% endblock %}

{% block content %}

<div class="page-header">
  <h1>{{ establishment|title }}</h1>
</div>

<div class='row'>
    <div class='col-xs-12 col-sm-2 col-sm-push-10'>
        <div class='score bg-info'>
            <p class='value'>{{ latest.score }}</p>
            <p class='outof'>{% trans 'out of 100' %}</p>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-5 col-sm-push-2">  
        <h4 class="text-center">RISK FACTORS</h4>
        <ul class="detail-risk-factor text-center list-inline">
            {% if establishment.hygeine_deductions %}<li class="deduction{{ establishment.hygeine_deductions }} hygiene text-hide">Hygiene</li>{% endif %}
            {% if establishment.hold_temp_deductions %}<li class="deduction{{ establishment.hold_temp_deductions }} holding text-hide">Holding</li>{% endif %}
            {% if establishment.contamination_deductions %}<li class="deduction{{ establishment.contamination_deductions }} contamination text-hide">Contamination</li>{% endif %}
            {% if establishment.cook_temp_deductions %}<li class="deduction{{ establishment.cook_temp_deductions }} temperature text-hide">Temperature</li>{% endif %}
            {% if establishment.source_deductions %}<li class="deduction{{ establishment.source_deductions }} source text-hide">Source</li>{% endif %}
            </ul>
        <p class="text-center"><a target="_blank" title="View FDA Guidance on Foodborne Illness Risk Factors" href="http://www.fda.gov/Food/GuidanceRegulation/RetailFoodProtection/FoodborneIllnessRiskFactorReduction/ucm224321.htm">What do these mean to me? [FDA.gov]</a>
        </p><br/>
    </div>   
    
    
    <div class='col-xs-12 col-sm-4 col-sm-pull-7'>
        <p class='latest-type'>{{ latest.get_type_display }}<br>{{ latest.date|date:"l, F j, Y" }}</p>
        <address class='establishment'>
          {{ establishment.address|title }}<br>
          {{ establishment.city }}, {{ establishment.state }} {{ establishment.postal_code }}<br>
          {% if establishment.phone_number %}
          <abbr title="Phone">P:</abbr> {{ establishment.phone_number }}
          {% endif %}
        </address>
    </div>
</div>

{% if establishment.property_id %}
<div class="row">
    <div class='col-md-12'>
        <div class="clear-fix center-block text-center">
            <img src='http://www.ustaxdata.com/nc/durham/photos_renamed/{{establishment.property_id}}.jpg' class="property img-responsive img-thumbnail" />
        </div>
    </div>
</div>
{% endif %}

{% if latest.violations.exists %}
<h2>{% trans 'Violations' %}</h2>
<dl>
    {% for violation in latest.violations.all %}
    <dt>{% trans 'Code' %} {{ violation.code }}</dt>
    <dd>{{ violation.description }}</dd>
    {% endfor %}
</dl>
{% endif %}

{% if inspections.exists %}
<div class="row">
    <div class='col-md-12'>
        <h2>{% trans 'Previous Inspections' %}</h2>
        <table class="table table-condensed">
            <tr>
                <th class='short-date hidden-sm hidden-md hidden-lg'>{% trans 'Date' %}</th>
                <th class='hidden-xs'>{% trans 'Date' %}</th>
                <th>{% trans 'Inspection Type' %}</th>
                <th class='violations hidden-xs'>{% trans 'Violations' %}</th>
                <th class='score'>{% trans 'Score' %}</th>
            </tr>
        {% for inspection in inspections %}
            <tr>
                <td class='short-date hidden-sm hidden-md hidden-lg'>{{ inspection.date|date:"n/Y" }}</td>
                <td class='hidden-xs'>{{ inspection.date|date:"F j, Y" }}</td>
                <td>{{ inspection.get_type_display }}</td>
                <td class='violations hidden-xs'>
                    {% if inspection.violations.exists %}
                        {{ inspection.violations.count }}
                    {% endif %}
                </td>
                <td class='score'>
                    {% if inspection.violations.exists %}
                        <a href='#' class="violations">{{ inspection.score|default:"" }}</a>
                    {% elif inspection.description %}
                        <a href='#' class="violations">{% trans 'Comments' %}</a>
                    {% else %}
                        {{ inspection.score|default:"" }}
                    {% endif %}
                </td>
            </tr>
            {% if inspection.violations.exists or inspection.description %}
                <tr class='violation-detail' style="display: none;">
                    <td class='violation-list' colspan='4'>
                        <dl>
                            {% if inspection.description %}
                            <dt>{% trans "Inspector's Comments" %}</dt>
                            <dd>{{ inspection.description }}</dd>
                            {% endif %}
                            {% for violation in inspection.violations.all %}
                            <dt>{% trans 'Code' %} {{ violation.code }}</dt>
                            <dd>{{ violation.description }}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
        <p><small>{{ inspections.count }} {% trans 'total inspections' %}</small></p>
    </div>
</div>
{% endif %}

{% endblock %}
