{% extends "base.html" %}
{% load humanize %}

{% block content %}
<h2>{{ establishment }}</h2>
<div class='row'>
    <div class='col-md-6'>
        {% if establishment.property_id %}
            <img src='http://www.ustaxdata.com/nc/durham/photos_renamed/{{establishment.property_id}}.jpg' class="img-responsive img-thumbnail" />
        {% endif %}
    </div>
    <div class='col-md-6'>
        <h3>{{establishment.premise_address1}}<br/>
            {% if establishment.premise_address2 and establishment.premise_address2 != '0' %} {{establishment.premise_address2}}<br/>{%endif%}
            {{establishment.premise_city}},{{establishment.premise_state}} {{establishment.premise_zip}}
        </h3>
    </div>
</div>
<ul>
    {% for inspection in inspections %}
    <li>{{ inspection.insp_date|date:"M dS Y" }} - {{ inspection.grade }}
    <ul>
        {% for violation in inspection.violations.all %}
        <li>{{ violation.comments }}</li>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}
