{% extends "base.html" %}
{% load establishmentdetailstags humanize %}

{% block content %}
<h2>
    {{ establishment }}
    {% if inspections.values and not inspections.values|length_is:'0' %}
        <span class="label label-default pull-right" title="score">Score: {{ inspections.values.first.final_score_sum }}</span>
    {% endif %}
</h2>

<div class='row'>
    <div class='col-md-6'>
        <h3>
            {{establishment.premise_address1|title }}<br/>
            {% if establishment.premise_address2 and establishment.premise_address2 != '0' %} {{establishment.premise_address2|title }}<br/>{%endif%}
            {{establishment.premise_city|title }}, {{establishment.premise_state }} {{establishment.premise_zip }}<br/>
            <br/>
        </h3>
    </div>
    {% if establishment.property_id %}
        <div class='col-md-6'>
            {% if establishment.property_id %}
                <img src='http://www.ustaxdata.com/nc/durham/photos_renamed/{{establishment.property_id}}.jpg' class="img-responsive img-thumbnail" />
            {% endif %}
        </div>
    {% endif %}
</div>

<div class="accordion" id="inspection-details-accordion">
    <div class="accordion-group">
        {% for inspection in inspections %}
        <div class="accordion-heading">
            <a class="accordion-toggle list-group-item" data-toggle="collapse" data-parent="#inspection-details-accordion"
               href="#collapse{{ forloop.counter }}">
                {{ inspection.insp_date|date:"M dS Y" }}
                {% if inspection.final_score_sum != '0' %}<span class="badge">{{ inspection.final_score_sum }}</span>{% endif %}
            </a>
        </div>
        <div id="collapse{{ forloop.counter }}" class="accordion-body collapse">
            {% details_to_table inspection %}
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
