{% extends "base.html" %}
{% load leaflet_tags %}

{% block body_class %}establishments{% endblock %}
{% block body_id %}establishment-list{% endblock %}

{% block map %}
<h1>MAP</h1>
<div class="row col-md-12">
    <div id='map' style="width:100%;height:300px;"></div>
</div>
{% endblock %}

{% block extra-js %}
    <script>
        var map = L.mapbox.map('map', 'examples.map-9ijuk24y')
            .setView([35.996345, -78.903022], 14)
        var points = []
        {% for establishment in establishments %}
            points.push({
                // this feature is in the GeoJSON format: see geojson.org
                // for the full specification
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    // coordinates here are in longitude, latitude order because
                    // x, y is the standard for GeoJSON and many formats
                    coordinates: [{{establishment.location.x}}, {{establishment.location.y}}]
                },
                properties: {
                    title: '{{establishment.name}}',
                    description: '',
                    // one can customize markers by adding simplestyle properties
                    // http://mapbox.com/developers/simplestyle/
                    'marker-size': 'large',
                    'marker-color': '#f0a'
                }
            });
        {% endfor %}
        var pointLayer = L.mapbox.featureLayer(points)
        pointLayer.addTo(map);
        map.fitBounds(pointLayer.getBounds());
    </script>
{% endblock %}

{% block content %}

<div class="row">
    <div class='col-md-12'>
        <form id='search' class="form-inline" role="search" action="{% url 'establishment-list' %}" method="get">
            <div class="input-group">
                <input name='q' class="form-control" type="text" placeholder="Search restaurants..." value="{{ request.GET.q }}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                    <button class="btn btn-default" title="Update location" id="update-location">
                      <i class="glyphicon glyphicon-globe"></i>
                    </button>
                </span>
            </div>
        </form>
        <div class="list-group">
            {% for establishment in establishments %}
            <a href="{% url "establishment-detail" establishment.pk %}" class="list-group-item">
                {% if establishment.grade %}<span class="badge">{{ establishment.grade }}</span>{% endif %}
                <h5 class="list-group-item-heading">{{ establishment|title }}
                    {% if establishment.property_id %}<span class="glyphicon glyphicon-camera"></span>{% endif %}
                </h5>
                {% if establishment.insp_date %}<span class="badge badge-date hidden-xs">{{ establishment.insp_date|date:"M dS Y" }}</span>{% endif %}
                <p class="list-group-item-text">
                    <span class='text-muted small'>{{ establishment.address|title }} - {{ establishment.distance.mi|floatformat:"2" }} mi</span>
                </p>
            </a>
            {% endfor %}
        </div>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'establishment-list' %}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'establishment-list' %}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
