{% extends "base.html" %}
{% load inspection_tags %}

{% block body_class %}establishments{% endblock %}
{% block body_id %}establishment-list{% endblock %}

{% block content %}
<div class="row col-md-12">
    <div class="list-group">
        {% for establishment in establishments %}
        <a href="{% url "establishment-detail" establishment.pk %}" class="list-group-item">
            <h5 class="list-group-item-heading">{{ establishment|lower|titlecase }}</h5>
            <p class="list-group-item-text"><span class='text-muted small'>{{ establishment.premise_address1|lower|titlecase }}</span></p>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
