{% extends "base.html" %}
{% load inspection_tags %}

{% block body_class %}establishments{% endblock %}
{% block body_id %}establishment-list{% endblock %}

{% block content %}
<div class="row col-md-12">
    <ul id='establishments'>
        {% for establishment in establishments %}
        <li>
            <span class="glyphicon glyphicon-cutlery"></span>
            <a href="{% url "establishment-detail" establishment.pk %}">
                {{ establishment|lower|titlecase }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
