/* Space out content a bit */
body {
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

body > .container {
  padding: 60px 15px 0;
}

h1 {
  font-size: 30px;
  margin-bottom: 12px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

.container .text-muted {
  margin: 20px 0;
}

.detail-value {
  padding-bottom: 5px;
  padding-left: 25px;
}

.badge-date {
 font-size: 62.5%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Make the masthead heading the same height as the navigation */
.navbar-default {
    background-color: #5996A8;
    border-color: #e7e7e7;
}
.navbar-nav>li>a {
    color: white !important;
}
.navbar-brand {
    padding: 7px;
}
.navbar-brand img {
    height: 40px;
    width: 90px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle {
    background-color: white;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.header {
  background-color: #ADBABF;
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 0 1px 2px rgba(30, 30, 30,.5);
}

.header a {
  color: #FFF;
}

/* Custom page footer */
footer {
  color: #777;
}

footer hr {
  margin-top: 8px;
}

.header h3 {
  font-size: 20px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

ul#establishments {
  list-style-type: none;
  padding-left: 0px;
}

ul#establishments li {
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #DEDFFF;
}

form#search {
  margin-bottom: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.navbar-nav.navbar-right:last-child {
    margin-right: 0 !important;
}
footer a{
    color: #999;
}
div.page-header {
  margin-top: 0;
}

table .short-date, table .score, table .violations {
  text-align: right;
}

td.violation-list dl {
  font-size: 12px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  div.score {
    float: right;
  }
  body.establishment-detail address.establishment, body.establishment-detail p.latest-type {
    text-align: left;
  }
  body.establishment-detail p.latest-type {
    margin-top: 0;
  }
  img.property {
    width: 90%;
    text-align: center;
    margin-top: 15px;
  }
}

address.establishment {
  text-align: center;
}

p.latest-type {
  margin-top: 10px;
  text-align: center;
}

div.score {
  text-align: center;
  padding: 12px;
  border-radius: 5px;
}

div.score h2 {
  margin-top: 0;
  font-size: 18px;
}

div.score .value {
  font-size: 25px;
  font-weight: 800;
}

div.score .outof {
  color: #999;
  font-size: 10px;
  margin-bottom: 0;
}

.main-map {
  height: 300px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
    .main-map {
        height: 150px;
    }
}

.pager span {
  display: inline-block;
  padding-top: 5px; 
  padding-right: 13px;
}
