/* Space out content a bit */
body {
  padding-bottom: 20px;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.detail-value {
  padding-bottom: 5px;
  padding-left: 25px;
}

.badge-date {
 font-size: 62.5%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.header {
  background-color: #ADBABF;
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 0 1px 2px rgba(30, 30, 30,.5);
}

.header a {
  color: #FFF;
}

/* Custom page footer */
footer {
  margin-top: 12px;
  color: #777;
}

.header h3 {
  font-size: 20px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

ul#establishments {
  list-style-type: none;
  padding-left: 0px;
}

ul#establishments li {
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #DEDFFF;
}

form#search {
  margin-bottom: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

footer a{
    color: #999;
}
