.navbar {
    z-index: 10;
}


#map {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.marker-title {
    font-size: 16px;
    color: #333;
    margin-botton: 5px;
}

.marker-description {
    line-height: 1.444;
    font-size: 13px;
    color: #666;
}